:root {
  --primary-background-color: #2c3e50;      
  --secondary-background-color: #ffffff;     
  --primary-input-color: #218c74;            
  --font-family-sans-serif: "Gill Sans", sans-serif;
  --primary-font-size: 16px;
  --primary-font-color: #ffffff;            
  --secondary-font-color: #2c3e50;      
}


body {
    font-weight: 400;
    color: var(--secondary-font-color);
    line-height: 1.5;
    background: var(--secondary-background-color);
    background-attachment: scroll;
    font-family: var(--font-family-sans-serif);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .filter {
    display: flexbox;
    background-color: var(--primary-background-color);
    font-size: 1.5rem;
    color: var(--primary-font-color);
    padding: 2rem;
    flex-direction:row;
    margin-bottom: 30px;
    text-align:left;
    box-shadow: 4px 3px 19px 0px;
  }

  input[type="text"] {
    font-size: 1.5rem;
    height: 2.3rem;
    font-style: italic;
    color: var(--font-color);
  }
  


  input[type="checkbox"] {
  accent-color: var(--primary-input-color);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  }

  .checkbox {
    font-size: 1rem;
  }

  h1 {
    display: flex;
    margin: 20px;
    color: var(--secondary-font-color);
  } 

  h3 {
    margin-top: 30px;
  }
  .filter-container {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px;
  }
  .list-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  li {
    display: grid;
    justify-content: center;
  }
  img {
    justify-self: center;

  }
  .button-class {
    color: var(--font-color);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    height: auto;
    margin: 10px;
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #f2f0f0;
    border: 5px solid var(--primary-background-color);
    box-shadow: 4px 3px 10px 0px;
  }


  /* Preisslider */
  
.custom-wrapper {
    margin: 0;
    width: 30%;
    position: relative;
    left: 0px;
}

/* Styles for the price input container */
.price-input-container {
    width: 100%;
}

.price-input .price-field {
    display: flex;
    margin-bottom: 22px;
}

.price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 1.5rem;
}

.price-field input {
    flex: 1;
    height: 35px;
    font-size: 15px;
    font-family: var(--font-family-sans-serif);
    border-radius: 9px;
    text-align: center;
    border: 0px;
    background: var(--secondary-background-color);
}

.price-input {
    width: 100%;
    font-size: 1.5rem;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    width: 100%;
}

.slider {
    height: 6px;
    position: relative;
    background: var(--secondary-background-color);
    border-radius: 5px;
}

.slider .price-slider {
    height: 100%;
    left: 25%;
    right: 15%;
    position: absolute;
    border-radius: 5px;
    background: #01940b;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: var(--primary-input-color);
    pointer-events: auto;
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {

  .custom-wrapper {
    width: 100%;
    left: 0;
    padding: 0 10px;
  }

  .price-input {
    flex-direction: column;
    align-items: center;
  }

  .price-field {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 481px) {
  .body {
    width: 100%;
    margin-right: 5px;
    
  }

    input[type="text"] {
    font-size: 0.9rem;
    height: 1.3rem;
    font-style: italic;
  }

  input[type="checkbox"] {
    accent-color: var(--primary-input-color);
    cursor: pointer;
    height: 1rem;
    width: auto;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 1rem;

  }
  .filter-container {
    margin: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .list-group {
    gap: 10px;
  }
 
  .button-class {
    padding: 10px;
    width: 300px;
    height: auto;
    margin: 5px;
    font-weight: 400;
    font-size: 1rem;

  }

  .price-field {
    margin-bottom: 5px;
  }
  .price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 1rem;
}

.price-field input {
    flex: 1;
    height: 1.8rem;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
    border-radius: 0.5rem;

}

.price-input {
    font-size: 1rem;
}
label {
  font-size: 1rem; 
}
}